main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.imageDiv {
    position: relative;
    flex: 1 1 0%;
    height: 7.5%;
    margin: 2%;
}

.logo {
    width: auto;
    height: 100%;
}

form {
    background-color: white;
    display: flex;
    border-radius: 0.5rem;
    width: 50%;
    font-family: "Lato-Regular";
}

.formBody {
    flex: 1 1 0%;
    color: rgb(55, 65, 81);
    padding: 20px;
}

h1 {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
    font-family: "Lato-Bold";
    text-align: center;
}

.forms {
    margin-top: 6px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

hr {
    width: 100%;
    border: 2px solid rgb(249, 168, 212);;
    margin-top: 12px;
}

h2 {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    color: rgb(107, 114, 128);
    width: 100%;
    padding-top: 6px;
}

.halfSections {
    padding-top: 8px;
    width: 50%;
}

.leftSections {
    padding-right: 8px;
}

.rightSections {
    padding-left: 8px;
}

.fullSections {
    padding-top: 8px;
    width: 100%;
}

.required {
    color: red;
    font-size: 1rem;
}

label {
    display: block;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    padding-bottom: 2px;
    font-family: "Lato-Bold";
}

input {
    border-width: 2px;
    border-color: rgb(107, 114, 128);
    padding: 5px;
    border-radius: 0.375rem; /* 6px */
    width: 100%;
}

input:focus {
    border-color: #ec4899;
    outline: 0;
}

input[type=date] {
    text-transform: uppercase;
}

.halfInput {
    width: 49%;
}

.leftInput {
    margin-right: 1%;
}

.rightInput {
    margin-left: 1%;
}

select {
    border-width: 2px;
    border-color: rgb(107, 114, 128);
    padding: 5px;
    border-radius: 0.375rem; /* 6px */
    width: 100%;
    background-color: white;
}

select:focus {
    border-color: #ec4899;
    outline: 0;
}

.checkbox {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.5rem; /* 8px */
    padding-bottom: 6px;
}

.checkbox:last-child {
    padding-bottom: 0;
}

.checkboxInput {
    width: 1.25rem; /* 20px */
    height: 1.25rem; /* 20px */
    border-width: 2px;
    border-color: rgb(107, 114, 128);
    accent-color: rgb(236, 72, 153);
}

.checkboxInput:focus {
    border-color: #ec4899;
    outline: 0;
}

.checkboxLabel {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    padding-bottom: 0;
}

textarea {
    border-width: 2px;
    border-color: rgb(107, 114, 128);
    padding: 5px;
    border-radius: 0.375rem; /* 6px */
    width: 100%;
}

textarea:focus {
    border-color: #ec4899;
    outline: 0;
}

.buttonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: rgb(236, 72, 153);
    font-family: "Lato-Bold";
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    color: white;
    padding-top: 0.75rem; /* 12px */
    padding-bottom: 0.75rem; /* 12px */
    margin-top: 1.5rem; /* 24px */
    border: none;
    border-radius: 0.5rem;
    width: 50%;
}